.logo {
    height: 200px;
    padding-right: 5px;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}